<div class="row">
	<div class="text-center">
		<h1 class="welcome">My Book Shelf</h1>
		
		<img src="images/bookshelf.jpg" class="img-responsive" style="margin:0 auto; max-height:300px; padding: 30px;"/>



		<a class="btn btn-info btn-lg" href="#/view-book" role="button"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> My Books </a>
		<a class="btn btn-default btn-lg" href="#/add-book" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Book </a>
	</div>
</div>